/* GENERAL */
html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0; padding: 0;
}

body {
    font-family: 'Mulish', Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.inline-block {
    display: inline-block;
    vertical-align: top;
}

.about-li:hover {
    color: #fd6327;
}

.skills-li:hover {
    color: #fec2ca;
}

.work-li:hover {
    color: #fdc300;
}

.studies-li:hover {
    color: #C2CCD5;
}

.resume-li:hover {
    color: #DFC800;
}

.contact-li:hover {
    color: #FD9407;
}

/* HEADER */
header {
    background-color: #fdc300;
}

header img {
    padding: 10px 5px;
}

#socials {
    padding-right: 10px;
}

/* NAVIGATION */
nav {
    color: white;
    background-color: black;
    display: flex;
    justify-items: space-around;
}

nav ul {
    margin-left: auto;
    padding-right: 10px;
}

nav li {
    padding: 0 5px;
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-res {
    color: white;
    background-color: black;
    border: none;
    width: auto;
    padding: 0;
    border-radius: 0;
    font-size: 16px;
}

.nav-res:hover {
    color: #DFC800;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #DFC800;
    text-decoration: none;
    cursor: pointer;
  }

  /* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: #DFC800;
  }
  
  /* Modal Body */
  .modal-body {padding: 2px 16px;}

  .modal-body img {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      align-self: center;
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  
  /* Add Animation */
  @keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
  }

/* HERO */
.hero-bkg-animated {
    background: rgba(0,0,0,0) url(../images/background.jpg) repeat 0 0;
    width: 100%;
    margin: 0;
    height: 425px;
    box-sizing: border-box;
    -webkit-animation: slide 20s linear infinite;
  }

  @-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

.hero {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.heroImg {
    padding: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.content, #about {
    width: 500px;
    margin: 0 auto;
    background-color: black;
    color: white;
    padding: 10px 20px 20px 20px;
    border-radius: 20px;
    margin-top: 75px;
}

.cta {
    color: white;
    background-color: black;
    border: white solid 3px;
    border-bottom: white solid 5px;
    border-right: white solid 5px;
    border-radius: 20px;
    padding: 10px 0;
    width: 150px;
}

.des:hover {
    background-color: black;
    color: #fdc300;
    border: #fdc300 solid 3px;
    border-bottom: #fdc300 solid 5px;
    border-right: #fdc300 solid 5px;
}

.cs:hover {
    background-color: black;
    color: #C2CCD5;
    border:  #C2CCD5 solid 3px;
    border-bottom: #C2CCD5 solid 5px;
    border-right: #C2CCD5 solid 5px;
}

.res:hover {
    background-color: black;
    color: #DFC800;
    border:  #DFC800 solid 3px;
    border-bottom: #DFC800 solid 5px;
    border-right:#DFC800 solid 5px;
}

button {
    background-color: white;
    border: black solid 3px;
    border-radius: 20px;
    padding: 10px 0;
    width: 150px;
}

button:hover {
    background-color: black;
    color: white;
}

/* SKILLS */
.mySkills, #skills {
    text-align: center;
    color: white;
    background-color: black;
    padding-top: 5px;
    margin-top: 0;
}

.mySkills p {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer {
    display: flex;
    margin: 10px;
    margin-top: 0;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer div {
    width: 33%;
    padding: 0 10px;
    margin: 20px;
    margin-top: 0;
    color: black;
    background-color: white;
    border-radius: 20px;
    border-bottom: solid 10px #fec2ca;
    border-right: solid 10px #fec2ca;
}

.flexContainer img {
    padding-top: 20px;
}

/* CASE STUDIES */
.workGrid {
    display: grid;
    grid-template-areas: "cs-image cs-content" "image2 content2" "image3 content3";
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
}

.myWork {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.myWork p {
    padding-right: 10px;
}

.cs-content {
    height: 300px;
}

.content2 {
    height: 300px;
}

.content3 {
    height: 300px;
}

.myWork img {
    height: 300px;
}

.dark {
    background-color: black;
    color: white;
}

.dark button {
    background-color: black;
    color: white;
    border: white solid 3px;
    border-bottom: white solid 5px;
    border-right: white solid 5px;
}

.dark button:hover {
    color: #C2CCD5;
    border: #C2CCD5 solid 3px;
    border-bottom: #C2CCD5 solid 5px;
    border-right: #C2CCD5 solid 5px;
}

.light button {
    color: black;
    background-color: white;
    border: black solid 3px;
    border-bottom:black solid 5px;
    border-right: black solid 5px;
}

.light button:hover {
    color: black;
    background-color: #C2CCD5;
    border: black solid 3px;
    border-bottom:black solid 5px;
    border-right: black solid 5px;
}

/* FOOTER */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 5px;
}

footer li {
    padding: 0 5px;
}

footer a {
    text-decoration: none;
    color: white;
}

#socials-footer {
    padding-top: 10px;
}

footer img {
    padding-right: 30px;
}

/* MEDIA QUERY */
@media only screen and (max-width: 600px) {
    .flexContainer {
        flex-direction: column;
    }
    .workGrid {
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: "cs-image" "cs-content" "image2" "content2" "image3" "content3";
    }
}